.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  transition: all 250ms ease;
}

.container.dark {
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.65);
}

.container.light {
  background: rgba(255, 255, 255, 0.65);
  color: #1a1a1a;
}

.button {
  border-radius: .5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
  border: none;
  transition: all 250ms ease;
  cursor: pointer;
}

.container.dark .button {
  background: rgba(255, 255, 255, 0.65);
  color: #1a1a1a;
}

.container.light .button {
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.65);
}

.title {
  transition: all 250ms ease;
}

.container.dark .title {
  color: rgba(255, 255, 255, 0.65);
}

.container.light .title {
  color: #1a1a1a;
}